In [19]:
import pandas as pd

In [20]:
df = pd.read_csv(r'C:\works\stock_shop_monitoring\backend\data\sales.csv')
df

,sale_id,ts,customer_id,product_no,product_name,product_type,qty,unit_price,total_line
0,660a2b55-41ae-4e0e-8bd2-ea426c8ff5b0,2025-12-31T05:29:37.596031+00:00,walkin-1,2,AMP SOUNDMILAN AV-3346,AMP,1,11000000.0,11000000.0
1,51b750dd-df4d-46fd-bd91-3631edcc6a8e,2025-12-31T05:36:18.439579+00:00,walkin-1,1,AMP MBA AV-268,AMP,1,9999.0,9999.0
2,faece70b-4766-45d2-8c9c-daf1651071f0,2025-12-31T05:53:56.193204+00:00,walkin-1,2,AMP SOUNDMILAN AV-3346,AMP,1,3800.0,3800.0
3,74e83b73-6966-45ae-96d6-d5da9d811589,2025-12-31T05:54:04.868409+00:00,walkin-1,2,AMP SOUNDMILAN AV-3346,AMP,1,9999.0,9999.0

In [21]:
df = df.iloc[:0]
df

Empty DataFrame
Columns: [sale_id, ts, customer_id, product_no, product_name, product_type, qty, unit_price, total_line]
Index: []

In [22]:
df.to_csv(r'C:\works\stock_shop_monitoring\backend\data\sales.csv', index=False)

In [9]:
df = pd.read_csv(r'C:\works\stock_shop_monitoring\backend\data\data.csv')
df.head()

,No_,name,piece_per_cost,number,cost,sell_price_lower,sell_price_avg,profit,description,remark,localtion,type,Brand,Unnamed: 13
0,1,ไมค์ลอย mba 888a (U3),1.0,7.0,1200.0,1600.0,1800.0,600.0,NaN,NaN,"H, F",MICROPHONE,NaN,NaN
1,2,ไมค์ลอย mba 888a (U1),1.0,2.0,1400.0,1750.0,1900.0,500.0,NaN,NaN,H,MICROPHONE,NaN,NaN
2,3,ไมค์ลอย sound milan ml-6675,1.0,10.0,1200.0,1600.0,1800.0,600.0,NaN,NaN,"H, F",MICROPHONE,NaN,NaN
3,4,ไมค์ลอย micro tech mt-333D,1.0,2.0,2475.0,3100.0,3300.0,825.0,NaN,NaN,H,MICROPHONE,NaN,NaN
4,5,ไมค์ลอย proeurotech pro-111,1.0,3.0,3000.0,3500.0,3700.0,700.0,NaN,NaN,H,MICROPHONE,NaN,NaN

In [10]:
col_use = ['No_', 'name', 'piece_per_cost', 'number', 'cost', 'sell_price_lower',
       'sell_price_avg', 'profit', 'description', 'remark', 'localtion',
       'type', 'Brand']

In [11]:
# col_use = ['product_id', 'name', 'piece_per_cost', 'number', 'cost', 'sell_price_lower',
#        'sell_price_avg', 'profit', 'description', 'remark', 'localtion',
#        'type', 'Brand']

In [12]:
df = df.sort_values('type').reset_index(drop=True)
df['No_'] = df.index + 1 
df = df[col_use]
df

,No_,name,piece_per_cost,number,cost,sell_price_lower,sell_price_avg,profit,description,remark,localtion,type,Brand
0,1,AMP MBA AV-268,1.0,1.0,950.0,1500.0,1800.0,850.0,NaN,NaN,"F, A4",AMP,NaN
1,2,AMP SOUNDMILAN AV-3346,1.0,3.0,2800.0,3500.0,3800.0,1000.0,NaN,NaN,"A4, F",AMP,NaN
2,3,AMP SOUNDMILAN AV-3341 AC/DC,1.0,0.0,1200.0,1900.0,2100.0,900.0,NaN,NaN,A4,AMP,NaN
3,4,AMP SOUNDMILAN AV-3325 AC/DC,1.0,4.0,1100.0,1600.0,1800.0,700.0,NaN,NaN,A4,AMP,NaN
4,5,AMP SOUNDMILAN AV-3330 AC/DC,1.0,3.0,950.0,1500.0,1800.0,850.0,NaN,NaN,A4,AMP,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,382,สายน้ำเข้า เครื่องซักผ้า 2 m,1.0,10.0,70.0,NaN,NaN,NaN,NaN,NaN,D,NaN,NaN
382,383,สาย RCA 2C + MIC ST 1 C (J-015) 1.5 m,1.0,5.0,54.0,NaN,NaN,NaN,NaN,NaN,"R1, G",NaN,NaN
383,384,ปลั๊ก XLR ตัวผู้ 3P ท้ายแจ็คไมค์ 6.35 mm,1.0,2.0,42.0,NaN,NaN,NaN,NaN,NaN,R1,NaN,NaN
384,385,เพลทเหล็ก 2 speakon 8x9.5cm ดำ+ดำ,1.0,2.0,54.0,NaN,NaN,NaN,NaN,NaN,B4,NaN,NaN
385,386,เพลทเหล็ก 2 speakon 8x9.5cm แดง+เหลือง,1.0,4.0,54.0,NaN,NaN,NaN,NaN,NaN,B4,NaN,NaN

In [13]:
df.to_csv(r'C:\works\stock_shop_monitoring\backend\data\data.csv', index=False, encoding='utf-8-sig')